* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: black;
}
div {
  height: 33.3vh;
}
#fahranheit {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
input[type="number"] {
  width: 100%;
  height: 100%;
  background: black;
  outline: none;
  color: white;
  font-size: 10em;
  text-align: center;
  border: 0;
}
::-webkit-input-placeholder {
  /*chrome,opera,safari */
  color: #222222;
}
::-moz-placeholder {
  /*firefox */
  color: #222222;
}
::-ms-input-placeholder {
  /* edge*/
  color: #222222;
}
:-ms-input-placeholder {
  /* internet explorer*/
  color: #222222;
}
